body {
    background-color: rgb(35, 16, 16);
    color: rgb(212, 206, 204);
    margin-left: 20px;
    font-weight: 700;
}

#input {
    background-color: rgb(212, 206, 204);
    color: rgb(144, 81, 131);
    text-align: center;
    margin-bottom: 15px;
}

#div {
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.images {
    width: 300px;
    padding: 10px;
}

#clearBTN {
    display: block;
    margin-top: 15px;
}

.btn {
    background-color: rgb(212, 206, 204);
    color: rgb(144, 81, 131);
}
